body {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;

}

.topnav {
    margin: 0 auto;
    text-align: center;
    align-content: space-between;
}

nav {
    color: yellow;
}

section {
    display: flex;
    margin: 20px;

}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
}

p {
    font-size: 1em;
    color: yellow;

}